@import "./utils.scss";
@import "./variables.scss";

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: $base-text;
  font-family: $base-font, "Helvetica", "Arial", sans-serif;
  font-size: pixelToRem(17);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
